
beatdetektor_audiolab.xcodeproj/xcuserdata/ccliffe.xcuserdatad/xcschemes/xcschememanagement.plist

beatdetektor_audiolab.xcodeproj/xcuserdata/ccliffe.xcuserdatad/xcschemes/BeatDetektor.xcscheme

beatdetektor_audiolab.xcodeproj/project.xcworkspace/xcuserdata/ccliffe.xcuserdatad/UserInterfaceState.xcuserstate

beatdetektor_audiolab.xcodeproj/project.xcworkspace/xcshareddata/test_app.xccheckout

beatdetektor_audiolab.xcodeproj/project.xcworkspace/xcshareddata/beatdetektor_audiolab.xccheckout

beatdetektor_audiolab.xcodeproj/project.xcworkspace/contents.xcworkspacedata

beatdetektor_audiolab.xcodeproj/ccliffe.pbxuser

beatdetektor_audiolab.xcodeproj/ccliffe.mode1v3
